.App{
    padding: 50px;
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(3,300px);
    justify-content: space-around;
}

.box{
    padding: 50px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.box:first-child .CircularProgressbar {
    background: aqua;
    padding: 10px;
    border-radius: 50%;
}

.box:first-child .CircularProgressbar-trail{
    fill-opacity: 0;
    stroke-width: 0;
}


.box:first-child .CircularProgressbar-path{
    stroke: white !important;
}

.box:first-child .CircularProgressbar-text{
    fill: white !important;
}